.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays above other content */
    background-color: #161d2f; /* Adjust background color as needed */
  }
  